<head>
	<title> Storia . Your pictures, your stories. </title>
	<!-- stylesheets -->
	<link href="static/css/style.css" rel="stylesheet">
	<link href="static/css/jquery.bxslider.css" rel="stylesheet">

	<!-- favicon -->
	<link rel="shortcut icon" href="static/img/favicon.ico">
</head>

<body>
	<div class="navbar-wrapper">
		<div class="navbar-logo">
			<img src="static/img/storia.png"><span class="navbar-brandname">Storia</span>
			<div class="navbar-login">
				<div class="navbar-login-name">George Moh</div>
			</div>
			<img class="navbar-login-settings-icon" src="static/img/settings-gear.png">
			<!-- User Settings and Navigation -->
			<div class="navbar-search">
				<img src="static/img/search-magnifier.png"><input type="text" value="Search...">
			</div>
		</div>
		<div class="navbar-login-settings" style="display:none;height:0px">
			<ul>
				<li><a href="#">Account Settings</a></li>	
				<li><a href="#">Log out</a></li>
			</ul>
		</div>

	</div>

	<!-- main content wrapper follows 960px grid design -->
	<div class="main-content-wrapper">

		<div class="slider-block-wrapper">
			
			<ul class="slider-wrapper">
				<li>
					<ul class="main-slider">
						<li><img src="http://distilleryimage8.ak.instagram.com/e69257ca288411e3bb8a22000a1f97fc_7.jpg" title="Caption"/></li>
						<li><img src="http://distilleryimage6.ak.instagram.com/19358c2c288211e39ce222000a1fd1f4_7.jpg" title="Caption"/> </li>
						<li><img src="http://distilleryimage8.ak.instagram.com/249a107a293f11e3a8b522000a9f3cba_7.jpg" title="Caption"/> </li>
						<li><img src="http://distilleryimage10.s3.amazonaws.com/2fd103cc288611e3812422000aeb0bcd_7.jpg" title="Caption"/> </li>
					</ul>
				</li>
			

				<li>
					<ul class="main-slider-2">
						<li><img src="http://distilleryimage11.ak.instagram.com/4c96a778291711e39d1722000aaa07c6_8.jpg"/></li>
						<li><img src="http://distilleryimage1.ak.instagram.com/5da08bc2295f11e3bf3622000a9f1886_7.jpg"/> </li>
						<li><img src="http://distilleryimage8.ak.instagram.com/f47d6178292811e3b12d22000a9e295b_7.jpg"/> </li>
						<li><img src="http://distilleryimage3.ak.instagram.com/d7cb3fe8292b11e3bdf822000a1fa51c_8.jpg"/> </li>
					</ul>
				</li>

				<li>
					<ul class="main-slider-3">
						<li><img src="http://distilleryimage11.ak.instagram.com/4c96a778291711e39d1722000aaa07c6_8.jpg"/></li>
						<li><img src="http://distilleryimage1.ak.instagram.com/5da08bc2295f11e3bf3622000a9f1886_7.jpg"/> </li>
						<li><img src="http://distilleryimage8.ak.instagram.com/f47d6178292811e3b12d22000a9e295b_7.jpg"/> </li>
						<li><img src="http://distilleryimage3.ak.instagram.com/d7cb3fe8292b11e3bdf822000a1fa51c_8.jpg"/> </li>
					</ul>
				</li>

				<li>
					<ul class="main-slider-4">
						<li><img src="http://distilleryimage11.ak.instagram.com/4c96a778291711e39d1722000aaa07c6_8.jpg"/></li>
						<li><img src="http://distilleryimage1.ak.instagram.com/5da08bc2295f11e3bf3622000a9f1886_7.jpg"/> </li>
						<li><img src="http://distilleryimage8.ak.instagram.com/f47d6178292811e3b12d22000a9e295b_7.jpg"/> </li>
						<li><img src="http://distilleryimage3.ak.instagram.com/d7cb3fe8292b11e3bdf822000a1fa51c_8.jpg"/> </li>
					</ul>
				</li>
			
				<li>
					<ul class="main-slider-5">
						<li><img src="http://distilleryimage11.ak.instagram.com/4c96a778291711e39d1722000aaa07c6_8.jpg"/></li>
						<li><img src="http://distilleryimage1.ak.instagram.com/5da08bc2295f11e3bf3622000a9f1886_7.jpg"/> </li>
						<li><img src="http://distilleryimage8.ak.instagram.com/f47d6178292811e3b12d22000a9e295b_7.jpg"/> </li>
						<li><img src="http://distilleryimage3.ak.instagram.com/d7cb3fe8292b11e3bdf822000a1fa51c_8.jpg"/> </li>
					</ul>
				</li>

				<li>
					<ul class="main-slider-6">
						<li><img src="http://distilleryimage11.ak.instagram.com/4c96a778291711e39d1722000aaa07c6_8.jpg"/></li>
						<li><img src="http://distilleryimage1.ak.instagram.com/5da08bc2295f11e3bf3622000a9f1886_7.jpg"/> </li>
						<li><img src="http://distilleryimage8.ak.instagram.com/f47d6178292811e3b12d22000a9e295b_7.jpg"/> </li>
						<li><img src="http://distilleryimage3.ak.instagram.com/d7cb3fe8292b11e3bdf822000a1fa51c_8.jpg"/> </li>
					</ul>
				</li>
		</ul>

	<div>


	<!-- load javascripts here -->
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="static/js/jquery.bxslider.js"></script>
	<script>	
		$(document).ready(function(){
		  $('[class^=main-slider]').bxSlider({
		  	auto: true,
		  	pager: false,
		  	captions: true,
		  	slideWidth: 200,
		  	minSlides: 1,
		  	maxSlides: 1,
		  	adaptiveHeight:true
		  });
		});
	</script>

	<script>
		$(document).ready(function() {
			$('.navbar-login-settings-icon').on("mouseenter", function() {
				$('.navbar-login-settings').animate({height:"100%"},200).show();
			});
			$('.navbar-login-settings-icon').on("click", function() {
				$('.navbar-login-settings').animate({height:"0%"},200).hide();
			});
		});
	</script>
</body>

