<head>
	<title> Storia . Your pictures, your stories. </title>
	<!-- stylesheets -->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">

	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">
</head>

<body>
	<div class="navbar-wrapper">
		<div class="navbar-logo">
			<img src="images/storia.png"><span class="navbar-brandname">Storia</span>
		</div>
	</div>

	<div class="main-slider-wrapper">
		<ul class="main-slider">
			<li><img src="http://unslider.com/img/sunset.jpg" /> photostories here </li>
			<li><img src="http://unslider.com/img/wood.jpg" /> photostories here</li>
			<li><img src="http://unslider.com/img/subway.jpg" /> photostories here </li>
			<li><img src="http://unslider.com/img/shop.jpg" /> photostories here</li>
		</ul>
	</div>

	<!-- main content wrapper follows 960px grid design -->
	<div class="main-content-wrapper">





	<div>


	<!-- load javascripts here -->
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/jquery.bxslider.js"></script>
	<script>	
		$(document).ready(function(){
		  $('.main-slider').bxSlider();
		});
	</script>
</body>

